* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  color: #000000;
  background-color: #FAFCFB;
  overflow-x: hidden;
  z-index: 0;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 4rem;
}

nav {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.menu {
  width: 2rem;
  height: 2rem;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 2rem;
  max-width: 600px;
  margin: 0 auto;
}

.about p {
  margin: 0;
  max-width: none;
  font-size: 1.5rem;
}

.cloud-transition {
  width: 100vw;
  height: auto;
  margin-bottom: 0px;
}

.about {
  background-color: #E5F2FF;
  text-align: left;
  margin-top: -50px;
  padding: 2rem;

}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* p styling (and others like h) are global styles and will override div styling */
.about p {
  margin: 0;
  max-width: none;
  font-size: 1.5rem;
}

.cloud-180-transition {
  width: 100vw;
  height: auto;
  margin-bottom: 0px;
  transform: rotate(180deg);
  margin-top: -10px;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects h2 {
  margin: 1rem;
}

.project-item {
  background-color: #EBDFE1;
  border: 10px solid #DFB8B6;
  border-radius: 10px;
  width: 90vw;
  height: 30vh;
  margin: 1rem;
}